@page
@{
    ViewData["Title"] = "Our Services";
}
<!--service background video-->
<section id="service-video">
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-12 px-0 position-relative">
                <div class="video-shade">
                    <video src="~/video/service.mp4" class="w-100" muted loop autoplay type="video/mp4"></video>
                </div>
                <div class="video-heading my-4">
                    <h1 class="size-h1 text-white fw-bold mb-4">@ViewData["Title"]</h1>
                    <p class="text-white size-paragraph m-0">Lorem Ipsum dummy text.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/service background video-->
<!--service we provide-->
<section id="services">
    <div class="container py-5">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="mb-4 text-center text-primary font-monospace mt-0">AREAS WHAT WE SERV</h5>
                <h2 class="text-center m-0 mb-4">
                    We Provide Awesome Services
                </h2>
                <p class="text-muted text-style mb-4">
                    Got a project in mind? We’d love to hear about it. Take five minutes to
                    fill out our project form so that we can get to know you and understand your project.
                </p>
            </div>
            <div class="col-md-6 col-xs-12 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-desktop text-white bg-primary icon fa-2x mb-4"></i>
                        <h5 class="mb-4">GRAPHIC DESIGN</h5>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortorism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-code fa-2x text-white bg-primary icon mb-4"></i>
                        <h5 class="mb-4">WEB DEVELOPMENT</h5>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortorism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fa fa-cubes fa-2x text-white bg-primary icon mb-4"></i>
                        <h5 class="text-center mb-4">PRODUCT DESIGN</h5>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortorism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12 mb-4 mb-lg-0">
                <div class="card text-center">
                    <div class="card-body">
                        <div><i class="far fa-edit fa-2x text-white bg-primary icon mb-4"></i></div>
                        <h5 class="mb-4">BLOG WRITING</h5>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortorism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12 mb-4 mb-md-0">
                <div class="card text-center">
                    <div class="card-body">
                        <div><i class="fas fa-chart-pie fa-2x text-white bg-primary icon mb-4"></i></div>
                        <h5 class="mb-4">SOCIAL MARKETING</h5>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortorism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="card text-center">
                    <div class="card-body">
                        <div><i class="fas fa-mobile-alt text-white bg-primary icon fa-2x mb-4"></i></div>
                        <h5 class="mb-4">ANDROID APPLICATION</h5>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortorism.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/service we provide-->
<!-- technologies i know-->
<section id="technology">
    <div class="container py-5">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="mb-4 text-center text-primary font-monospace mt-0">TECHNOLOGY WE KNOW</h5>
                <h2 class="text-center m-0 mb-4">
                    GET WORK DONE IN 200+ DIFFERENT TECHNOLOGIES
                </h2>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/unittesting.png" class="img-fluid" />
                </div>
                <div> <h6>Unit Testing</h6></div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/php.png" class="img-fluid" /></div>
                <div>
                    <h6>
                        PHP Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/searchengineoptimization.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Search Engine Optimization
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/codeception.png" class="img-fluid" /></div>
                <div>
                    <h6>
                        Codeception
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/react.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        React JS Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/seo.png" class="img-fluid" /></div>
                <div>
                    <h6>
                        Search Engine Marketing
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/cucumberautomation.png" class="img-fluid" /></div>
                <div>
                    <h6>
                        Cucumber
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/phython.png" class="img-fluid" /></div>
                <div>
                    <h6>
                        Python Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/appstoreoptimization.png" class="img-fluid" /></div>
                <div>
                    <h6>
                        App Store Optimization (ASO)
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/selenium.png" class="img-fluid" /></div>
                <div>
                    <h6>
                        Selenium
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/magento.png" class="img-fluid" /></div>
                <div>
                    <h6>
                        Magento Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/contentmarketing.png" class="img-fluid" /></div>
                <div>
                    <h6>
                        Content Marketing
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/androidappdevelopment.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Android Custom ROM Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div>
                    <img src="~/img/wordpress develoment.png" class="me-3" />
                </div>
                <div>
                    <h6>
                        WordPress Development Services
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/InventoryManagement.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Inventory Management
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/geekbox.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        GeekBox ROM
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/e-commerce.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        E-commerce Website Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/projectmanagement.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Project Management
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/raspberrypi.png" class="img-fluid" /> </div>
                <div>
                    <h6>
                        Raspberry Pi
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/FullStackDevelopment.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Full Stack Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/HumanResourceManagement.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Human Resource Management
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">   <img src="~/img/androidappdevelopment.png" class="img-fluid" /> </div>
                <div>
                    <h6>
                        Android App Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/ProgressiveWebApps.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Progressive Web Apps
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/chatbot.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Chatbot Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/iosappdevelopment.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        iOS App Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/Nodejsdevelopemnt.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Node.JS Framework
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <img src="~/img/NaturalLanguageProcessing.png" class="me-3" />
                <h6>
                    Natural Language Processing
                </h6>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/flutter.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Flutter App Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/js.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Angular.JS Framework
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/humanandcomputervision.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Human and computer vision
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"> <img src="~/img/CrossPlatformAppDevelopment.png" class="img-fluid" /> </div>
                <div>
                    <h6>
                        Cross-Platform App Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/yii.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Yii Framework
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"> <img src="~/img/machinelearning.png" class="img-fluid" /> </div>
                <div>
                    <h6>
                        Machine Learning
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/AugmentedRealityVR.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Augmented Reality/VR
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/rupy.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Ruby on Rails Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/DeepLearning.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Deep Learning
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/webredesgign.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Website Redesign
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/django.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Django Framework
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/Roboticprocess.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Robotic Process Automation
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/smo.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Social Media Optimization
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"><img src="~/img/graphicsdesign.png" class="img-fluid" />
            </div>
        <div><h6>
                Graphic Design
            </h6>
        </div>
    </div>
        <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
            <div class="me-3"><img src="~/img/spring.png" class="img-fluid" /> </div>
        <div>
            <h6>
                Spring Boot Framework
            </h6>
        </div>
    </div>
        <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
            <div class="me-3">
                <img src="~/img/AlexaAppDevelopment.png" class="img-fluid" />
            </div>
            <div>
                <h6>
                    Alexa App Development
                </h6>
            </div>
    </div>
        <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
            <div class="me-3">
                <img src="~/img/mobileapplicationdesign.png" class="img-fluid" />
            </div>
        <div>  <h6>
                Mobile Application Design
            </h6>
        </div>
    </div>
        <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
            <div class="me-3">
                <img src="~/img/LaravelDevelopment.png" class="img-fluid" />
            </div>
                <div>
                    <h6>
                        Laravel Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/responsiveWeb.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Responsive Web Design
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3">
                    <img src="~/img/orm.png" class="img-fluid" />
                </div>
                <div>
                    <h6>
                        Online Reputation Management
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 mb-4 d-flex align-items-center">
                <div class="me-3"> <img src="~/img/AlexaAppDevelopment.png" class="img-fluid" /> </div>
                <div>
                    <h6>
                        Alexa App Development
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 d-flex align-items-center mb-4 mb-lg-0">
                <div class="me-3">
                    <img src="~/img/managedEmailServices.png" class="img-fluid" />
                </div>
                <div>
                    <h6>Managed Email Services</h6>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-6 d-flex align-items-center mb-4 mb-lg-0">
            <div class="me-3"><img src="~/img/managedServerSecurityServices.png" class="img-fluid" />
            </div>
        <div> <h6>
                Managed Server Security Services
            </h6>
        </div>
    </div>
            <div class="col-lg-4 col-xs-12 col-md-6 d-flex align-items-center">
            <div class="me-3"> <img src="~/img/socialMediaMarketing.png" class="img-fluid" />
            </div>
            <div>  <h6>
                    Social Media Marketing
                </h6>
            </div>
    </div>
    </div>
    </div>
</section>
<!-- /technologies i know-->
