@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password?";
    Layout = "_Layout-login";
}

@*forgot password*@
<section id="reset-id">
    <div class="container py-lg-5 py-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 d-none d-md-block">
                <img src="~/img/undraw_Design_thinking_re_644h.svg" class="img-fluid p-3"/>
            </div>
            <div class="col-md-5 col-lg-4 offset-md-1 col-xs-12">
                @* reset password form *@
                <form method="post">
                    <h3 class="m-0">@ViewData["Title"]</h3>
                    <p class="text-muted m-0">Enter your email</p>
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class="form-group mb-3 mt-5">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control rounded-0 border-2 border-dark" aria-describedby="emailHelp" placeholder="Example@gmail.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn bg-primary py-2 text-white rounded-0 shadow-sm mb-3 btn-style">Submit <i class="fas fa-check-circle ms-1"></i></button>
                    </div>
                    <p class="text-center m-0">
                        <a asp-page="./Login" class="text-decoration-none text-primary">Go back to <span class="fw-bold">Sign in</span></a>
                    </p>
                </form>
                @* /reset password form *@
            </div>
        </div>
    </div>
</section>
@* /forgot password *@
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

