@page
@model RegisterModel
@{
    ViewData["Title"] = "Welcome!";
    Layout = "_Layout-login";
}
@*Register form*@
<section id="register">
    <div class="container py-lg-5 py-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 d-none d-md-block">
                <img src="~/img/undraw_Forms_re_pkrt.svg" class="img-fluid p-3"/>
            </div>
            <div class="col-md-5 col-lg-4 offset-md-1 col-xs-12">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h3 class="m-0">@ViewData["Title"]</h3>
                    <p class="text-muted m-0">Create your account</p>
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    @* user id creater form *@
                    <div class="form-group mt-5">
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control rounded-0 border-2 border-dark" aria-describedby="emailHelp" placeholder="Example@gmail.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" class="form-control rounded-0 border-2 border-dark" placeholder="*********" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control rounded-0 border-2 border-dark" placeholder="*********" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn bg-primary py-2 text-white mb-3 rounded-0 shadow-sm btn-style">Sign up <i class="fas fa-check-circle ms-1"></i></button>
                    </div>
                    <p class="text-center mb-3">
                        <a asp-page="./Login" class="text-decoration-none text-primary" asp-route-returnUrl="@Model.ReturnUrl"> Already have an account? <span class="fw-bold">Sign in</span></a>
                    </p>
                    @*social icons*@
                    <div class="text-center">
                        <a href="#"><i class="fab fa-facebook-f social-icon text-white"></i></a>
                        <a href="#"><i class="fab fa-google social-icon text-white"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in text-white social-icon"></i></a>
                    </div>
                    @*/social icons*@

                </form>
                @* /user id creater form *@
            </div>
        </div>
    </div>
</section>
@*/Register form*@
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
