/*====================================*/
/*     Bootstrap override classes     */
/*====================================*/
/*  primary color override   */
.bg-primary {
    background-color: #307fc1 !important;
}

.text-primary {
    color: #307fc1 !important;
}

.border-primary {
    border-color: #307fc1 !important;
}

/*====================================*/
/*           common classes          */
/*====================================*/
.navbar-toggler:focus {
    box-shadow: none !important;
}

.btn:focus {
    box-shadow: none !important;
}

input:focus {
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #307fc1 !important;
}

.btn-style {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.card {
    min-height: 100%;
}

.hide-show-password-icon {
    position: absolute;
    right: 3px;
    top: 32px;
    height: 40px;
    cursor: pointer;
}

.size-h1 {
    font-size: 4.1rem;
    font-weight: 800;
    line-height: 1;
}

.text-style {
    text-align: justify;
}
/*====================================*/
/* custom-common classes by section */
/*====================================*/
/*==========header section============*/
/*#nav-bar .navbar-toggler {
    border: 2px solid;
}
*/
/*==========Login Page============*/
#form .social-icon {
    height: 33px;
    width: 33px;
    line-height: 33px;
    transition-duration: 1s;
    background: #2874ba;
    margin: 0.25rem;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075);
    border-radius: 50%;
}

    #form .social-icon:hover {
        transform: rotate(360deg);
        box-shadow: 0 0 0 3px #2874ba;
        background: white;
        color: #307fc1 !important;
    }

/*==========Register Page============*/
#register .social-icon {
    height: 33px;
    width: 33px;
    line-height: 33px;
    transition-duration: 1s;
    background: #2874ba;
    margin: 0.25rem;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075);
    border-radius: 50%;
}

    #register .social-icon:hover {
        transform: rotate(360deg);
        box-shadow: 0 0 0 3px #2874ba;
        background: white;
        color: #307fc1 !important;
    }

/*==========index Page============*/
#blog-cards .card .card-detail {
    position: absolute !important;
    top: 0;
    transform: translateY(-50%);
    background: white;
    border-radius: 13px;
    font-size: 13px;
    padding: 4px 8px;
    font-weight: 600;
    letter-spacing: 1px;
}

#blog-cards .card::before, #blog-cards .card::after {
    content: '';
    pointer-events: none;
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.6, 1);
}

#blog-cards .card:hover::after {
    opacity: 1;
}

#blog-cards .card::after {
    box-shadow: 0 4px 20px rgb(0 0 0 / 16%);
    opacity: 0;
}

#blog-cards .card::before {
    box-shadow: 0 2px 10px rgb(0 0 0 / 16%);
}

#blog-cards .card:hover::before {
    opacity: 0;
}

#background-content .bg-img {
    background: #040d21;
    min-height: 800px;
}

#background-content .svg-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*========== About us Page============*/
#video-wraper video{
    height:100vh;
    object-fit:cover;
}

#video-wraper .video-shade::after {
    background-color: #000;
    content: "";
    opacity: 0.7;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-wraper .video-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    text-align: center;
    color: white;
}

#additonal-info .progress{
    height:0.7rem;
    border-radius:0;
}

#additonal-info .progress-bar {
    background: #307fc1;
    transition:width 6.5s ease;
}

#additonal-info .background-img {
    padding-top: 300px;
    padding-bottom: 220px;
    background: #00bd8e url(../img/startup4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about .icon {
    font-size: 36px;
    height: 75px;
    width: 75px;
    line-height: 75px;
    border-radius: 100px 100px 100px 100px;
    margin-top: 6px;
}
    #about .icon:hover {
        background: rgba(12, 90, 219, 0.18) !important;
        color: #307fc1 !important;
    }
/*========= @media queries section ==============*/
/*media query for large screen up to 1200px*/
    @media (min-width: 1200px) {
        #blog-cards .container {
            max-width: 1000px !important;
        }
    }
    /*media query for smallest screen up to 767.8px*/
    @media (max-width:767.8px) {
        .size-h1 {
            font-size: 2.4rem;
            line-height: 1;
            font-weight: 800;
        }

        #video-wraper video {
            object-fit: cover;
            height: 50vh;
        }
    }
    /*media query for medium screen to largest screen*/
    @media (min-width:768px) {
        .size-h1 {
            font-size: 4.1rem;
            font-weight: 800;
            line-height: 1;
        }

        #background-content .size-paragraph {
            font-size: 1.5rem;
        }
    }
    /*media query for ipad and ipad pro*/
    @media screen and (min-width:768px) and (max-width:1199px) {
        #video-wraper video {
            height: 50vh;
            object-fit: cover;
        }
        #about .img-responsive, #solution .img-responsive{
            height:660px;
            object-fit:cover;
        }
    }
