/*====================================*/
    /*  Bootstrap override classes */
/*====================================*/
    /*  primary color override   */
.bg-primary {
background-color: #307fc1 !important;
}
.text-primary {
color: #307fc1 !important;
}
.border-primary{
border-color:#307fc1 !important;
}
/*====================================*/
   /*  My blog common classes*/
/*====================================*/
.navbar-toggler:focus{
box-shadow:none!important;
}
.btn:focus {
box-shadow : none !important;    
}
input:focus{
box-shadow:none !important;
}
.form-control:focus {
 border-color: #307fc1 !important;
}
/*====================================*/
    /*My blog custom-common classes*/
/*====================================*/
/*==========header section============*/
/*#nav-bar .hovrcenter {
position: relative;
}
#nav-bar .hovrcenter:before {
content: "";
position: absolute;
left: 50%;
right: 50%;
bottom: 0;
background: #ECF0F1;
height: 2px;
transition-property: left, right;
transition-duration: 0.3s;
transition-timing-function: ease-out;
}
#nav-bar .hovrcenter:hover:before{
left: 0;
right: 0;
}*/
#nav-bar .navbar-toggler{
border:2px solid;
}
/*==========Login Page============*/
#form .social-icon {
height: 33px;
width: 33px;
line-height: 33px;
transition-duration: 1s;
background: #2874ba;
margin: 0.25rem;
box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075);
border-radius: 50%;
}
#form .social-icon:hover {
transform: rotate(360deg);
box-shadow: 0 0 0 3px #2874ba;
background: white;
color: #307fc1 !important;
}
/*==========Register Page============*/
#register .social-icon {
height: 33px;
width: 33px;
line-height: 33px;
transition-duration: 1s;
background: #2874ba;
margin: 0.25rem;
box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075);
border-radius: 50%;
}
#register .social-icon:hover {
transform: rotate(360deg);
box-shadow: 0 0 0 3px #2874ba;
background: white;
color: #307fc1 !important;
}
